* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 text-decoration:none;
	 border:none; 
	 outline:none;
	 scroll-behavior: smooth;
	 font-family: "Poppins",sans-serif;
 }

:root {
	--background-color: #080808;
	--text-color: white;
	--main-color: #e4b381;
}

 body {
	 width:100vw;
	 height: auto;
	 display:grid;
	 grid-template-rows:repeat(4,100fr) 10vh  20vh;
	 background-color: var(--background-color); 
	 color: var(--text-color);
 }

.header {
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	padding: 2rem 9%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:rgba(0,0,0,0.6);
	backdrop-filter: blur(20%); 
	z-index:100;

}


.links {
	width:40%;
	display:flex;
	justify-content:space-around;
	list-style-type:none;
}


.links li a{
	color: var(--text-color);
	font-weight: 600;
	transition: 0.3s ease;
}


.logo {
	color: var(--text-color);
	font-weight:800;
	font-size:2rem; 
	transition: 0.3s ease;
	letter-spacing:0.1rem;

}


#coffe-font {
	margin-right: 0.2rem;
	color: var(--main-color);

}


.logo span {
	color: var(--main-color);

}

.logo:hover {
	transform: scale(1.1);
}

.links a:hover 
{
	color: var(--main-color);
	border-bottom:2px solid var(--main-color);
	font-size:1.2rem;
}

#provided-username {
	align-self: center;
	justify-self: center;
	font-size: 1.1rem;
	font-weight: 600;

}


#user-logo {
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
}

.home {
    grid-row: 1/2;
    background-image: url('/static/images/coffe.jpg');
    background-size: cover;
    background-position: center;
	
}

.home::before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.2);
	z-index:1;
}


.home-content {
	width:30%;
	height:45%;
	position:relative;
	top:30%;
	display:flex;
	left:60%;
	flex-direction:column;
	z-index:2;
	text-align:center;
  	background-color: rgba(0,0,0,0.3);
	border-radius:4rem;

	
}

#welcome  { 
	font-weight: 500;
	font-size:1.5rem;
	margin-top:2vh;
	
}

#title {
	font-size:5rem;
	margin-top:3vh;

}

#title span {
	color: var(--main-color);

}


#description {
	width: 90%;
	font-weight: 600;
	font-size:1rem;
	margin-top:3vh;
	align-self: center;

}

.center-buttons{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	height: 20%;
}

.center-buttons a 
{
	width: 26%;
	height: 40%;
}

.button {
	width: 100%;
	height: 100%;
	border-radius:4rem;
	font-size:1rem;
	font-weight: 700;
	color: white;
	background-color: var(--main-color); 
	transition: 0.3 ease-in-out;
	cursor:pointer;
}


.button:hover {
	transform: scale(1.05);
	background-color: var(--background-color);
	color: var(--main-color);
	border: 2px solid var(--main-color);
}




.coffees {
	grid-row:2/3;

}



.about {
	grid-row:3/4;
	width:100%;
	height:100%;
	display:flex;
	justify-content:start;
	align-items:center;
	background-image: url('/static/images/easy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}



.about-content {
	width:40%;
	height:50%;
	margin-left:7vw;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: space-around;
	background: rgba(0,0,0,0.5);
	text-align:center;
	border-radius: 4rem;
}


#about-title {
	font-size: 4rem;
	word-spacing: 0.4rem;

}

#about-title span {
	color: var(--main-color);
}

#about-description {
	width:90%;
	height:auto;
	font-size: 1.2rem;
	font-weight:600;
}

.center-buttons a 
{
	width: 26%;
	height: 40%;
}

#coffee-title 
{
	text-align:center;
	font-size:4rem;
	padding:2rem;
	color: var(--main-color);
	letter-spacing:0.3rem;
}


.cards {
	width:100%;
	height:65%;
	display:flex;
	justify-content:space-evenly;

}

.card {
	width:30%;
	height:100%;
	border:1px solid var(--main-color);
	border-radius: 4rem;
	display:flex;
	flex-direction:column;
	align-items:center;
}



.cards-img {
	width:90%;
	height:70%;

}

#first-card,#second-card,#third-card {
	text-align:center;
	font-weight: 600;

}

.cards-title{
	font-size: 2rem;
	font-style:italic;
	color: var(--main-color);

}

.cards-description{
	margin-top:0.8rem;
	width:90%;

}

#c2-img {
	border-radius: 3rem;
	width:90%;
	height:auto;
	margin-top:1vh;
	margin-left:2vw;
}

#c3-img {
	width:100%;
	height:60%;
	margin-top:2vh;
	margin-right:5vh;
}

#latte-title {
	margin-top: 4vh;
}

#menu-button {
	margin-top:5vh;
	margin-left:40.5vw; 
	height:5vh; 
	width:20%;
	font-size:1.5rem;
}


.reviews {
	grid-row: 4/5;
	display:flex;
	flex-direction:column;
	align-items:center;

}

#rev-title {
	text-align:center;
	font-size: 3rem;
	padding:2rem;
	letter-spacing:0.1rem;
	color: var(--main-color);

}


.reviews-content {
	width:90%;
	height:90%;
	display:grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-template-rows: repeat(9, 1fr);
    column-gap:2vw;	

}


.rev-cards {
	border:2px solid var(--main-color);
	display:flex;
	flex-direction:column;
	border-radius: 2rem;
	transition: 0.3s ease;

}

.rev-cards:hover {
	transform: scale(1.1);

}

.person1 {
	grid-row: 1/5;
	grid-column: 2/3;
}

.starter-info {
	display:flex;
	width:100%;
	padding:1rem;
	height:auto;
	margin-top:4vh;
	align-items:center;
	justify-content:space-evenly;
	
}

.img-reviewing {
	border-radius:4rem;
	border:2px solid var(--main-color);

}

.desc-info {
	width: 80%;
	margin-top:2vh;
	text-align:center;
	margin-left: 2.5vw;
	font-weight: 500;
	font-size: 1.4rem;

}


#person1-review-desc {
	margin-bottom:2vh;
}

.person2 {
	grid-row: 6/10;
	grid-column: 2/3;
}


.person3 {
	grid-row: 3/7;
	grid-column: 3/4;
}

.person4 {
	grid-row: 3/7;
	grid-column:1/2;
}

.contact {
	grid-row: 6/7;
	width: 100%;
	height: 100%;
}
.contact-content {
	width:100%;
	height: 100%; 
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: space-evenly;
	background-color: var(--main-color);
}

.contact-icons {
	display:flex;
	width:20%;
	justify-content:space-between; 
	list-style-type: none; 
}

.contact-icons li a {
	font-size: 2rem;
	width: 100%;
	color: black;

}

.about-links {
	width: 40%; 
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	font-size: 1.2rem;
	font-weight: 500;
}

.about-links a {
	color: black;
}

.contact-content p {
	margin-right: 3vw;
	color: black;

}

#chatbot-button {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #e4b381;
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#chatbot-container {
	position: fixed;
	bottom: 70px;
	left: 20px;
	width: 300px;
	height: 400px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	display: none; /* Hidden by default */
	flex-direction: column;
}

#chatbot-header {
	background-color: #e4b381;
	color: white;
	padding: 10px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

#chatbot-messages {
	text-align: start;
	flex-grow: 1;
	padding: 10px;
	overflow-y: auto;
	font-size: 14px;
	color: black;
}

#chatbot-form {
	display: flex;
	border-top: 1px solid #ccc;
}

#chatbot-input {
	flex-grow: 1;
	border: none;
	padding: 10px;
	font-size: 14px;
	border-bottom-left-radius: 10px;
}

#chatbot-input:focus {
	outline: none;
}

#chatbot-form button {
	background-color: #e4b381;
	color: white;
	padding: 10px;
	cursor: pointer;
	border-bottom-right-radius: 10px;
	font-weight: 500;
}

#close-chatbot {
	width: 2vw;
	border-radius: 3rem;
	background-color: red;
	color:white;
	font-weight: 600;
}
