<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add-edit.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    
<body>
    
        <header class="header">
            <a href="{{ url_for('home') }}" class="logo"><i class='bx bxs-coffee'></i>Coffe<span>SHOP</span></a>
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {% if username %}
                <li id="username-e"><i class='bx bxs-user'></i>{{ username }}</li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </header>
    
        <section class = "admin-container">
        <h1>Edit Product</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" enctype="multipart/form-data">
            <label for="name">Name:
            <input type="text" id="name" name="name" value="{{ product.name }}" required><br>
            </label>

            <label for="price">Price:
            <input type="number" step="0.01" id="price" name="price" value="{{ product.price }}" required><br>
            </label>

            <label for="description">Description:
            <textarea id="description" name="description">{{ product.description }}</textarea><br>
            </label>

            <div class = "upload-img">
            <p>Current Image:
                {% if product.image %}
                <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" width="100">
                {% else %}
                No image
                {% endif %}
            </p>
            </div>
            <label for="image">Upload New Image:
            <input type="file" id="image" name="image"><br>
            </label>

            <button type="submit">Update Product</button>
            
        </form>
        <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
        </section>
</body>
    
    </html>