<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "Author" content = "Behar Mahmuti">
		<meta name = "Description" content = "coffee shop website">
		<meta name = "viewport" content = "width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>CoffeShop login</title>
	</head>
	<body>

		<header class = "header">

			<a href = "/menu" class = "logo"><i class='bx bxs-coffee' id = "coffe-font" ></i>Coffe<span>SHOP</span></a>


			<ul class = "links">
				<li><a href = "{{ url_for("register")}}">Register</a>
				<li><a href = "{{url_for("home") }}">Home</a></li>
				<li><a href = "{{url_for("about")}}">About us</a>
			</ul>

		</header>




		<div class = "login" >

			<div class = "info">

				<h1>Log in to order your coffee </h1>

				{% if loginerror %}
				<p id = "error">{{ loginerror }}</p>
				{% endif %}


				<form method = "POST" action = "{{ url_for('login') }}">

					<label for = "username">Username: 
					<input type = "text" id = "username" name = "username">
					</label>

					<label for = "password">Password:
					<input type = "password" id = "password" name = "password">
					</label>

					<button type = "submit" class = "button">Login</button>


				</form>

				<p>Don't have an account? <a href = "/register">Register here</a></p>


			</div>

			<div class = "image">



			</div>


		</div>



	</body>
</html>
