<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "Author" content = "Dion Salihu Behar Mahmuti">
		<meta name = "Description" content = "coffee shop website">
		<meta name = "viewport" content = "width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>CoffeeShop more </title>
	</head>
	<body>

		
	

	</body>
</html>
